<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="PIKNIK (Platform Interaktif Nikmati Keindahan Negeri Kita)">
  <link rel="stylesheet" href="./styles/main.css" />
 
  <title>PikNik</title>
</head>
<body>
    <header>
      <div class="overlay">
          <div class="container full-width">
            <div class="container nav-bar full-width pa-3 bg">
              <nav>
                  <div class="logo">
                      <img src="./images/logo_Piknik__1.png" alt="PikNik Logo">
                  </div>
                  <div class="navbar-search-bar">
                    <input class="nav-search" type="text" placeholder="Mau Piknik Dimana?">
                  </div>
                  <ul class="menu">
                      <li><a href="#">Home</a></li>
                      <li><a href="#">Destinasi</a></li>
                      <li><a href="#">Populer</a></li>
                      <li><a href="#">Tentang</a></li>
                      <li><a href="#">Kontak</a></li>
                  </ul>
                  <button class="drawer-button" id="hamburgerButton" aria-label="Menu">☰</button>
              </nav>
            </div>
              <div class="hero-text">
                  <h1>Selamat Menikmati</h1>
                  <p>Keindahan Negeri kita dengan <img src="./images/logo_Piknik__2.png" alt="logo piknik"></p>
                  <div class="buttons">
                      <button class="btn btn-orange">Masuk</button>
                      <button class="btn btn-blue">Daftar</button>
                  </div>
              </div>
          </div>
      </div>
    </header>
    <main>
        <section class="info-destinasi">
          <h2><span>Informasi</span> Destinasi</h2>
            <div class="container">
                <div class="card card-info">
                    <img src="images/dest_1.png" alt="Destinasi 1">
                    <div class="card-content">
                        <h3>Destinasi 1</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="card card-info">
                    <img src="images/dest_1.png" alt="Destinasi 2">
                    <div class="card-content">
                        <h3>Destinasi 2</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="card card-info">
                    <img src="images/dest_1.png" alt="Destinasi 3">
                    <div class="card-content">
                        <h3>Destinasi 3</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </section>
      
        <section class="populer-destinasi">
          <h2><span>POPULER</span> DESTINASI</h2>
            <div class="container">
                <div class="card model-2">
                  <div class="loc">
                    <div class="location">Kota: Papua Barat</div>
                    <h3>Raja Ampat</h3>
                  </div>
                    <img src="images/dest_1.png" alt="Populer 1">
                    <div class="card-content">
                        <div class="rating">Rating: <span>4.0</span></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="card model-2">
                  <div class="loc">
                    <div class="location">Kota: Papua Barat</div>
                    <h3>Raja Ampat</h3>
                  </div>
                    <img src="images/dest_1.png" alt="Populer 1">
                    <div class="card-content">
                        <div class="rating">Rating: <span>4.0</span></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="card model-2">
                  <div class="loc">
                    <div class="location">Kota: Papua Barat</div>
                    <h3>Raja Ampat</h3>
                  </div>
                    <img src="images/dest_1.png" alt="Populer 1">
                    <div class="card-content">
                        <div class="rating">Rating: <span>4.0</span></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                
            </div>
        </section>
      
        <section class="tentang bg-blue">
          <h2><span style="color: white;">TENTANG</span> KAMI</h2>
          <div class="container">
            <img src="images/logo_Piknik__3.png" alt="loho PikNik">
            <p>PIKNIK (Platform Interaktif Nikmati Keindahan Negeri Kita) adalah aplikasi web yang bertujuan utama sebagai penyedia layanan travel untuk destinasi wisata di seluruh Indonesia.</p>
      
          </div>
        </section>
      
        <section class="contact">
            <h2>KONTAK KAMI</h2>
            <div class="contact-form">
                <form action="#" method="POST">
                    <input type="text" name="name" placeholder="Nama Anda" required>
                    <input type="email" name="email" placeholder="Email Anda" required>
                    <input type="text" name="subject" placeholder="Subjek" required>
                    <textarea name="message" rows="5" placeholder="Pesan" required></textarea>
                    <button type="submit" class="btn btn-submit">Kirim Pesan</button>
                </form>
            </div>
        </section>
    </main>

  <footer>
      <div class="footer-social">
          <h3>SOSIAL MEDIA PikNik</h3>
          <div class="social-icons">
              <a href="#"><img src="images/instagram.png" alt="Instagram"></a>
              <a href="#"><img src="images/twitter.png" alt="Twitter"></a>
              <a href="#"><img src="images/facebook.png" alt="Facebook"></a>
          </div>
      </div>
      <div class="footer-developer">
          <h3>SOSIAL MEDIA DEVELOPER</h3>
          <div class="developer-profiles">
              <div class="profile">
                  <img class="photo" src="images/developer1.png" alt="Ismail Al Muzamal">
                  <p>Ismail Al Muzamal</p>
                  <div class="profile-links">
                      <a href="#"><img src="images/instagram.png" alt="Instagram"></a>
                      <a href="#"><img src="images/linkedin.png" alt="LinkedIn"></a>
                      <a href="#"><img src="images/github.png" alt="GitHub"></a>
                  </div>
              </div>

              <div class="profile">
                  <img class="photo" src="images/developer1.png" alt="Ilham Abdul Mugni">
                  <p>Ilham Abdul Mugni</p>
                  <div class="profile-links">
                      <a href="#"><img src="images/instagram.png" alt="Instagram"></a>
                      <a href="#"><img src="images/linkedin.png" alt="LinkedIn"></a>
                      <a href="#"><img src="images/github.png" alt="GitHub"></a>
                  </div>
              </div>

              <div class="profile">
                  <img class="photo" src="images/developer1.png" alt="Ifdal Lisyukri">
                  <p>Ifdal Lisyukri</p>
                  <div class="profile-links">
                      <a href="#"><img src="images/instagram.png" alt="Instagram"></a>
                      <a href="#"><img src="images/linkedin.png" alt="LinkedIn"></a>
                      <a href="#"><img src="images/github.png" alt="GitHub"></a>
                  </div>
              </div>

          </div>
      </div>
      <div class="copyright">
        <p>Capstone Project_C624-PS062 © 2024, Dicoding Academy</p>
      </div>
  </footer>
  <script src="./scripts/index.js"></script>
</body>
</html>