@media (max-width: 768px) {
  .hero-text{
    padding-left: 30px;
    padding-right: 30px;
  }
  .search-bar{
    flex-direction: column;
    gap: 10px;
    width: 80%;
    bottom: -120px;
  }
  .search-bar button{
    width: 98%;
    align-self: center;
  }
  .pa-3{
    padding-left: 20px;
    padding-right: 20px;
  }
  .nav-bar ul{
    flex-direction: column;
    /* menyembunyikan tampilan menu pada layar dengan lebar kecil */
    display: none; 
  }
  .promo-menarik{
    padding-top: 120px;
  }
  .promo-menarik .card{
    width: 100%;
  }
  .info-destinasi .card{
    flex-direction: column;
  }
  .populer-destinasi .container{
    padding: 20px;
  }
  .populer-destinasi .card{
    width: 100%;
  }
  .p-3{
    padding: 20px;
  }
  .contact-form form{
    width: 70%;
  }
  .developer-profiles{
    flex-direction: column;
    display: inline-flex;
  }
  .menu{
    display: none;
  }
  .drawer-button {
    display: block;
    margin-left: 25px;
    line-height: 70px;
    color: white;
    position: absolute;
    margin-top: 7px;
    margin-right: 25px;
    top: 0px;
    right: 0px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }
  .navbar-search-bar{
    margin-right: 45px;
  }
}

@media (max-width: 1200px) {
  .menu {
    display: none;
    flex-direction: column;
    transition: all 0.3s linear;
  }

  .menu.open {
    display: flex;
    position: absolute;
    top: 85px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 15px;
    padding-top: 0;
  }

  .drawer-button {
    display: block;
    margin-left: 25px;
    line-height: 70px;
    color: white;
    position: absolute;
    margin-top: 7px;
    margin-right: 25px;
    top: 0px;
    right: 0px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .menu li{
    margin-top: 15px;
  }

  .navbar-search-bar {
    margin-right: 45px;
  }

}
